
html, body {
  height: 100%;
}

.carousel-inner {
  height: 100%
}

.carousel-indicators li {
    background-color: #80858a !important;
  }
  
  /* this determines distance of carousel indicators from carousel item*/
  .carousel-item {
    margin-bottom: 145px;
  }
  
  .carousel-caption {
    position: absolute;
    bottom: -65px !important;
    margin-bottom: 20;
    color: #6f7378 !important;
  }

  .timer-btn {
    padding: 0rem .75rem !important;
    background-color: rgb(193, 207, 255) !important;
    border-color: rgb(193, 207, 255) !important;
    color: white;
    margin-right: 8px;
    margin-top: 5px;
    font-size: 16px;
    height: 35px;
    padding-bottom: 7px;
  }

  .timer-btn:hover {
    /* padding: 0rem .75rem !important; */
    background-color: #9DB4FF !important;
    border-color: #9DB4FF !important;
    color: white;
  }